#tree ul { margin-left: 50px; color: red; }
/*#tree ul li { width: 30px; height: 10px;  background: black;}*/
#tree li span { cursor: pointer; }
#tree li span:hover { font-weight: bold; }
#tree li span.selected { color: green; }

.left-col{
    float: left;
    padding-right: 20px;
    border-right: #CCCCCC 2px solid;
    min-height: 200px;
}

.left-col button{
    margin: 0px 5px 10px 0px;
}

.right-col{
    float: left;
    margin-left: 20px;
}
