<?xml version="1.0"?>
<config>
    <modules>
        <Macopedia_EasyMenu>
            <version>1.0.0</version>
        </Macopedia_EasyMenu>
    </modules>
    <frontend>
        <routers>
            <EasyMenu>
                <use>standard</use>
                <args>
                    <module>Macopedia_EasyMenu</module>
                    <frontName>easymenu</frontName>
                </args>
            </EasyMenu>
        </routers>
        <layout>
            <updates>
                <EasyMenu>
                    <file>macopedia/easymenu.xml</file>
                </EasyMenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <EasyMenu>
                <use>admin</use>
                <args>
                    <module>Macopedia_EasyMenu</module>
                    <frontName>easymenu</frontName>
                </args>
            </EasyMenu>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <EasyMenu>
                    <file>macopedia/easymenu.xml</file>
                </EasyMenu>
            </updates>
        </layout>
        <menu>
            <EasyMenu module="EasyMenu">
                <title>Macopedia</title>
                <sort_order>100</sort_order>
                <children>
                    <items module="EasyMenu">
                        <title>Easy Menu</title>
                        <sort_order>0</sort_order>
                        <action>EasyMenu/adminhtml_index</action>
                    </items>
                </children>
            </EasyMenu>
        </menu>
    </adminhtml>
    <global>
        <blocks>
            <EasyMenu>
                <class>Macopedia_EasyMenu_Block</class>
            </EasyMenu>
        </blocks>
        <helpers>
            <EasyMenu>
                <class>Macopedia_EasyMenu_Helper</class>
            </EasyMenu>
        </helpers>
        <models>
            <EasyMenu>
                <class>Macopedia_EasyMenu_Model</class>
                <resourceModel>EasyMenu_mysql4</resourceModel>
            </EasyMenu>
            <EasyMenu_mysql4>
                <class>Macopedia_EasyMenu_Model_Mysql4</class>
                <entities>
                    <EasyMenu>
                        <table>macopedia_easymenu</table>
                    </EasyMenu>
                </entities>
            </EasyMenu_mysql4>
        </models>
        <resources>
            <macopedia_easymenu_setup>
                <setup>
                    <module>Macopedia_EasyMenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </macopedia_easymenu_setup>
            <EasyMenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </EasyMenu_write>
            <EasyMenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </EasyMenu_read>
        </resources>
    </global>
</config>